*{
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden { display: none;}

header {
    background-color: rgb(188, 255, 255);
    font-size: 60px;
    font-family: american typewriter;
   color: #444444;
   padding:80px;
}

.icons { 
    text-align: center;
    font-size: 40px;
    font-family: american typewriter;
    color: #444444;
    padding-top: 50px;
}

.names {
    margin-left: 70px;
    background-color:rgb(188, 255, 255) ;
    border-radius: 40px;
    font-size: 50px;
}
article {
    margin-top: 50px;
}

p:hover { 
    font-size: larger;
    background-color: #483b2a;
    color: aliceblue;
    cursor: pointer;
    
 }

 p { transition: all 0.5s ease; transform-origin: 50%;}

p:hover #smalltext { fill: white; transform: rotate(130deg); }

img {
    padding: 200px;
    border-radius: 50px;
    margin: 50px;
    margin-bottom: -100px;
    
}
.icons h2 { 
    font-size: 80px;
}

.icons div {
    width:25 ;
    display: inline-block;
}

.icons div img { width:100%;}

footer {
    background-color:#483b2a;
    color: aliceblue;
    padding: 80px;
    margin-top: 80px;
    font-family: american typewriter;
    font-size: 30px;
}